@using System.Reflection;
@using System.ComponentModel.DataAnnotations;
@using InfProject.Utils;
@using Newtonsoft.Json;
@using WebUtilsLib;
@model (ObjectInfo, AccessControlFilter)
@inject InfProject.DBContext.DataContext dataContext
@{
    (ObjectInfo obj, AccessControlFilter accessControlFilter) = Model;
    var curUserId = accessControlFilter.UserId;
    List<Handover> list = null;
    var userCanAdd = Context.User.IsInRole(UserGroups.PowerUser) || Context.User.IsInRole(UserGroups.Administrator);
    string rawUrl = System.Net.WebUtility.UrlEncode(Context.Request.Path);
    int prevTypeId = 0, curTypeId = 0, curTypeIdCount = 0;

    //Dictionary<int, WebAppUser> users = new Dictionary<int, WebAppUser>();
    List<WebAppUser> users = await dataContext.GetUserListAll();
    WebAppUser sender, recipient;
    var typeHandover = await dataContext.GetType(InfProject.DBContext.DataContext.HandoverTypeId);
    List<int> activeTypesForHandover = typeHandover.GetSettingsApplyForTypeIds();
}
@if (activeTypesForHandover.Contains(obj.TypeId))   // == 6 // Sample
{
    list = await dataContext.GetHandoversForObject(obj.ObjectId);

    <!-- Modal https://getbootstrap.com/docs/5.0/components/modal/ -->
    <div class="modal fade" id="myAddHandover" tabindex="-1" aria-labelledby="AddHandoverLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" asp-controller="Handover" asp-action="AddHandover" onsubmit="return DisableButton('btnAddHandover')">
                <input type="hidden" name="returl" value="@rawUrl" />
                <input type="hidden" name="TypeId" value="@obj.TypeId" />
                <input type="hidden" name="SampleObjectId" value="@obj.ObjectId" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="AddHandoverLabel">Handover event</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mb-2">
                            <label for="Recipient"><b>Recipient (destination)</b></label>
                            <div>
                                <select required class="form-control" id="DestinationUserId" name="destinationuserid" aria-describedby="RecipientHelp">
                                    <option value="">=- select recipient -=</option>
                                </select>
                            </div>
                            <small id="RecipientHelp" class="form-text text-muted">Select recipient</small>
                        </div>
                        <div class="form-group mb-2">
                            <label for="Amount">Amount</label>
                            <div class="input-group">
                                <input type="number" step="0.000000000000001" class="form-control" id="Amount" name="amount" aria-describedby="amountHelp" placeholder="Amount" />
                                <input type="text" maxlength="32" class="form-control" id="MeasurementUnit" name="measurementunit" aria-describedby="amountHelp" placeholder="Measurement Unit" />
                            </div>
                            <small id="amountHelp" class="form-text text-muted">Amount and measurement unit (if applicable)</small>
                        </div>
                        <div class="form-group">
                            <label for="Comments"><b>Comments</b></label>
                            <textarea required rows="4" maxlength="1024" class="form-control" id="ObjectDescription" name="objectdescription" aria-describedby="commentsHelp" placeholder="Comments for the recepient"></textarea>
                            <small id="commentsHelp" class="form-text text-muted">Comments for the recipient</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="btnAddHandover" type="submit" class="btn btn-primary" title="Save"><i class="bi bi-truck"></i> Handover</button>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <div id="HandoverEvents" class="mt-4" data-count="@list.Count">
        <h3>Handover</h3>
        @if (list?.Count > 0)
        {
            <table class="table">
                <thead><tr>
                    <th>Sender</th>
                    <th>Sent</th>
                    <th>Amount</th>
                    <th>Sender Comments</th>
                    <th>Recipient</th>
                    <th>Received</th>
                    <th>Recipient Comments</th>
                    </tr>
                </thead>
                <tbody>
            @foreach (Handover handover in list)
            {
                sender = users.First(x=> x.Id==handover._createdBy);
                recipient = users.First(x=> x.Id==handover.DestinationUserId);
                <tr class="@(handover.DestinationConfirmed==null ? "table-warning" : "table-success")">
                    <td><a href="@($"mailto:{sender.Email}")">@Html.Raw($"{sender.Name}{(string.IsNullOrEmpty(sender.Project) ? string.Empty : $" {sender.Project}")}")</a></td>
                    <td>@handover._created</td>
                    <td>@handover.Amount @handover.MeasurementUnit</td>
                    <td>@handover.ObjectDescription</td>
                    <td><a href="@($"mailto:{recipient.Email}")">@Html.Raw($"{recipient.Name}{(string.IsNullOrEmpty(recipient.Project) ? string.Empty : $" {recipient.Project}")}")</a></td>
                            @if ((curUserId == handover.DestinationUserId || accessControlFilter.IsNone /* Admin*/)
                                && handover.DestinationConfirmed == null)
                            {
                                <td colspan="2">
                                    <form method="post" asp-controller="Handover" asp-action="ConfirmHandover" onsubmit="return DisableButton('btnConfirmHandover')">
                                        <input type="hidden" name="returl" value="@rawUrl" />
                                        <input type="hidden" name="TypeId" value="@obj.TypeId" />
                                        <input type="hidden" name="SampleObjectId" value="@obj.ObjectId" />
                                        <input type="hidden" name="HandoverObjectId" value="@handover.ObjectId" />
                                        <div class="form-group">
@*                                             <label for="DestinationComments">Comment</label>
 *@                                            <textarea required rows="3" maxlength="128" class="form-control" id="DestinationComments" name="DestinationComments" aria-describedby="DestinationCommentsHelp" placeholder="Comments for sender (required)"></textarea>
@*                                             <small id="DestinationCommentsHelp" class="form-text text-muted">Comments for the sender</small>
 *@
                                            <button id="btnConfirmHandover" type="submit" class="btn btn-primary w-100" title="Confirm"><i class="bi bi-check-circle"></i> Confirm handover</button>
                                        </div>
                                    </form>
                                </td>
                            }
                            else
                            {
                                <td>@handover.DestinationConfirmed</td>
                                <td>@handover.DestinationComments</td>
                            }
                </tr>
            }
                </tbody>
            </table>
        }
        else
        {
            <p>No handover events found.</p>
        }
        <a id="addHandOver" href="javascript:void(0);" onclick="AddHandover(); return false;" class="btn btn-success btnedit ms-3" role="button" title="Add Handover"><i class="bi bi-truck"></i></a>
    </div>
}
